<main>
  <div class="wrapper fadeInDown">
    <div id="formContent">
      <h1 class="fadeIn second">Jira Synchroniseermachien</h1>
      <!-- Synchronisation Form -->
      <form [formGroup]="synchronisationForm" (ngSubmit)="onSubmit(synchronisationForm.value)">

        <p>
          U kunt nu handmatig synchroniseren voer de datums in van waartussen uw worklogs gesynchroniseerd moeten worden
        </p>

        <div class="container">

          <!-- Sync date from -->
          <div>
            <h2 class="fadeIn second">Begindatum</h2>
            <input type="text" class="input" placeholder="dd-mm-jjjj" formControlName="fromDate">
          </div>

          <!-- Sync date until -->
          <div>
            <h2 class="fadeIn second">Einddatum</h2>
            <input type="text" class="input" placeholder="dd-mm-jjjj" formControlName="untilDate">
          </div>
        </div>

        <button type="submit" [disabled]="synchronisationForm.invalid" class="fadeIn fourth">Synchroniseer nu</button>

      </form>
    </div>
  </div>
</main>
