<main>
  <div class="wrapper fadeInDown">
    <div id="formContent">
      <h1 class="fadeIn second">Jira Synchroniseermachien</h1>
      <!-- Synchronisation Form -->
      <form [formGroup]="synchronisationForm" (ngSubmit)="onSubmit(synchronisationForm.value)">

        <div class="container">
          <!-- 'Sync from' input fields -->
          <div>
            <h2 class="fadeIn second">Van</h2>
            <input type="text" class="fadeIn second" name="login" placeholder="jira URL" formControlName="syncFromURL">
          </div>

          <!-- 'Sync to' input fields -->
          <div>
            <h2 class="fadeIn second">Naar</h2>
            <input type="text" class="fadeIn second" name="login" placeholder="jira URL" formControlName="syncToURL">
          </div>
        </div>

        <input type="checkbox">
        <button type="submit" class="fadeIn fourth">Synchroniseer nu</button>

      </form>
    </div>
  </div>
</main>
